<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filemanager</title>
    <link rel="icon" href="/icons/folder.png">
    <link rel="stylesheet" href="/style/style.css">
    <script src="/scripts/createButtons.js"></script>
</head>

<body>
    <div class="topPanel">
        <form action="/" method="GET">
            <input class="" type="submit" value="FILEMANAGER">
        </form>
    </div>
    <div class="bottomPanel">
        {{{body}}}
    </div>
</body>

</html>