@import url(https://fonts.googleapis.com/css?family=Bungee:regular);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
.divForFontChangingButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
  margin: 5px;
}

.divForFontChangingButtons .fontChangingButton {
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid darkorange;
  background-color: orange;
  border-radius: 5px;
  color: blue;
  font-family: "Bungee", Arial;
  text-shadow: 1px 1px 1px #ffffff;
  width: 95px;
}

.divForFontChangingButtons .fontChangingButton:hover {
  color: #ffffff;
  text-shadow: 1px 1px 1px blue;
  cursor: pointer;
}

.saveFile {
  height: 50px;
  font-size: 18px !important;
}

.runFile,
.saveFile,
.changeColor,
.saveSettings,
.renameFile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid darkorange;
  background-color: orange;
  border-radius: 5px;
  color: blue;
  font-family: "Bungee", Arial;
  text-shadow: 1px 1px 1px #ffffff;
  width: 200px;
  margin: 5px;
}

.runFile:hover,
.saveFile:hover,
.changeColor:hover,
.saveSettings:hover,
.renameFile:hover {
  color: #ffffff;
  text-shadow: 1px 1px 1px blue;
  cursor: pointer;
}

.runFile:hover a:visited,
.saveFile:hover a:visited,
.changeColor:hover a:visited,
.saveSettings:hover a:visited,
.renameFile:hover a:visited {
  color: #ffffff;
}

.runFile {
  margin: auto 0px 10px;
}

.saveFile {
  margin: auto;
}

label[for="editor"] {
  display: none;
}

.divForTextarea {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: calc(100% - 150px);
  padding: 5px;
  width: calc(100% - 20px);
  background-color: #282a3a;
  border-radius: 5px;
}

.divForTextarea .linesNumbers {
  max-height: 100%;
  padding-right: 10px;
  border: none;
  border-right: 1px solid;
  border-color: #ffffff;
  background-color: #282a3a;
  line-height: 20px;
  font-family: "Noto Sans", Arial;
  color: #5d7997;
  outline: none;
  resize: none;
  width: 3rem;
  scrollbar-width: none;
  text-align: right;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.divForTextarea .linesNumbers::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.divForTextarea .editor {
  height: 100%;
  width: 100%;
  line-height: 20px;
  padding-left: 10px;
  border: none;
  background-color: #282a3a;
  color: #ffffff;
  outline: none;
  resize: none;
  font-family: "Noto Sans", Arial;
}

#dialogrenamefile {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 24px;
  color: orange;
  text-shadow: 1px 1px 1px black;
  font-family: 'Bungee';
  position: absolute;
  top: 100px;
  left: calc((100vw - 400px)/2);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 400px;
  border: 3px solid darkorange;
  background-color: #999;
  border-radius: 20px;
  padding: 10px;
}

#dialogrenamefile input {
  font-family: 'Noto Sans';
  border: 1px solid darkorange;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  font-size: 28px;
  padding: 5px;
}

#dialogrenamefile .dialogButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5px;
}

#dialogrenamefile .dialogButtons button[type="submit"],
#dialogrenamefile .dialogButtons div {
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid darkorange;
  background-color: orange;
  border-radius: 5px;
  color: blue;
  font-family: "Bungee", Arial;
  text-shadow: 1px 1px 1px #ffffff;
  width: 80px;
}

#dialogrenamefile .dialogButtons button[type="submit"]:hover,
#dialogrenamefile .dialogButtons div:hover {
  color: #ffffff;
  text-shadow: 1px 1px 1px blue;
  cursor: pointer;
}

#dialogrenamefile .dialogButtons button[type="submit"]:hover a:visited,
#dialogrenamefile .dialogButtons div:hover a:visited {
  color: #ffffff;
}

.signup {
  text-align: center;
  text-decoration: none;
  border: 1px solid darkorange;
  background-color: orange;
  border-radius: 5px;
  color: blue;
  font-family: "Bungee", Arial;
  font-size: 16px;
  text-shadow: 1px 1px 1px #ffffff;
  padding: 0px 5px;
  margin: 20px;
  width: 100px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signup:hover {
  color: #ffffff;
  text-shadow: 1px 1px 1px blue;
  cursor: pointer;
}

.signindiv {
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.signindiv label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 24px;
  color: orange;
  text-shadow: 1px 1px 1px black;
  font-family: 'Bungee';
}

.signindiv input[type="text"],
.signindiv input[type="password"] {
  font-family: 'Noto Sans';
  border: 1px solid darkorange;
  border-radius: 5px;
  height: 40px;
  width: 200px;
  font-size: 28px;
  padding: 5px;
}

.signindiv input[type="button"] {
  text-align: center;
  text-decoration: none;
  border: 1px solid darkorange;
  background-color: orange;
  border-radius: 5px;
  color: blue;
  font-family: "Bungee", Arial;
  font-size: 16px;
  text-shadow: 1px 1px 1px #ffffff;
  padding: 0px 5px;
  margin: 10px;
  width: 100px;
  height: 50px;
}

.signindiv input[type="button"]:hover {
  color: #ffffff;
  text-shadow: 1px 1px 1px blue;
  cursor: pointer;
}

.signin {
  text-align: center;
  text-decoration: none;
  border: 1px solid darkorange;
  background-color: orange;
  border-radius: 5px;
  color: blue;
  font-family: "Bungee", Arial;
  font-size: 16px;
  text-shadow: 1px 1px 1px #ffffff;
  padding: 0px 5px;
  margin: 20px;
  width: 100px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signin:hover {
  color: #ffffff;
  text-shadow: 1px 1px 1px blue;
  cursor: pointer;
}

.signupdiv {
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.signupdiv label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 24px;
  color: orange;
  text-shadow: 1px 1px 1px black;
  font-family: 'Bungee';
}

.signupdiv input[type="text"],
.signupdiv input[type="password"] {
  font-family: 'Noto Sans';
  border: 1px solid darkorange;
  border-radius: 5px;
  height: 40px;
  width: 200px;
  font-size: 28px;
  padding: 5px;
}

.signupdiv input[type="button"] {
  text-align: center;
  text-decoration: none;
  border: 1px solid darkorange;
  background-color: orange;
  border-radius: 5px;
  color: blue;
  font-family: "Bungee", Arial;
  font-size: 16px;
  text-shadow: 1px 1px 1px #ffffff;
  padding: 0px 5px;
  margin: 10px;
  width: 100px;
  height: 50px;
}

.signupdiv input[type="button"]:hover {
  color: #ffffff;
  text-shadow: 1px 1px 1px blue;
  cursor: pointer;
}

.topPanel {
  width: 100vw;
  height: 80px;
  background: #4222c3;
  background: -webkit-gradient(linear, left top, right top, from(#4222c3), to(#802dfd));
  background: linear-gradient(90deg, #4222c3 0%, #802dfd 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topPanel input[type="submit"] {
  background: none;
  border: none;
  outline: none;
  margin: 0px 20px;
  text-decoration: none;
  font-family: "Bungee", Arial;
  color: aliceblue;
  text-shadow: 2px 2px 2px #000000;
}

.topPanel input[type="submit"]:hover {
  cursor: pointer;
  color: orange;
}

.topPanel .filemanager {
  font-size: 28px;
}

.topPanel .logout {
  font-size: 18px;
  background: none;
  border: none;
  outline: none;
  margin: 0px 20px -10px 20px;
  text-decoration: none;
  font-family: "Bungee", Arial;
  color: aliceblue;
  text-shadow: 2px 2px 2px #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.topPanel .logout:hover {
  cursor: pointer;
  color: orange;
}

.topPanel .img-logout {
  height: 30px;
  width: 30px;
  margin-bottom: -10px;
}

.saveImage {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid darkorange;
  background-color: orange;
  border-radius: 5px;
  color: blue;
  font-family: "Bungee", Arial;
  text-shadow: 1px 1px 1px #ffffff;
  width: 200px;
}

.saveImage:hover {
  color: #ffffff;
  text-shadow: 1px 1px 1px blue;
  cursor: pointer;
}

.saveImage:hover a:visited {
  color: #ffffff;
}

.showImage {
  margin: auto auto 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid darkorange;
  background-color: orange;
  border-radius: 5px;
  color: blue;
  font-family: "Bungee", Arial;
  text-shadow: 1px 1px 1px #ffffff;
  width: 200px;
}

.showImage:hover {
  color: #ffffff;
  text-shadow: 1px 1px 1px blue;
  cursor: pointer;
}

.showImage:hover a:visited {
  color: #ffffff;
}

.divForCanvas {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: calc(100% - 150px);
  padding: 5px;
  width: calc(100% - 20px);
  background-color: #282a3a;
  border-radius: 5px;
}

.divForCanvas #canvas {
  border: 1px solid black;
  height: 100%;
  width: 100%;
  border: none;
  background-color: #282a3a;
  color: #ffffff;
  outline: none;
  resize: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.filetype {
  height: 50px;
  width: 50px;
}

.bottomPanel {
  min-height: calc(100vh - 80px);
  background-color: #aaaaaa;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.leftPanel {
  height: auto;
  background: #2271c3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: aliceblue;
  font-size: 20px;
  font-family: "Bungee", Arial;
  text-shadow: 1px 1px 1px #000000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0px 5px;
}

.leftPanel span {
  color: orange;
  font-size: 18px;
  font-family: "Bungee", Arial;
  text-shadow: 2px 2px 2px #000000;
  background-color: #acacac;
  padding-left: 10px;
  padding-right: 10px;
}

.leftPanel img {
  height: 80px;
  width: 80px;
}

.leftPanel input[type="file"],
.leftPanel label:hover {
  cursor: pointer;
}

.leftPanel input[type="file"] {
  width: 200px;
  height: 280px;
  position: absolute;
  opacity: 0;
}

.leftPanel form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.leftPanel form label {
  width: 170px;
}

.leftPanel input[type="submit"] {
  font-size: 20px;
  text-decoration: none;
  border: 1px solid darkorange;
  background-color: orange;
  border-radius: 5px;
  color: blue;
  font-family: "Bungee", Arial;
  padding-left: 10px;
  padding-right: 10px;
  text-shadow: 1px 1px 1px #ffffff;
  z-index: 1;
  width: 150px;
}

.leftPanel input[type="submit"]:hover {
  color: #ffffff;
  text-shadow: 1px 1px 1px blue;
  cursor: pointer;
}

.rightPanel {
  width: 100%;
}

.downloadZip,
.renameFolder,
.createNewFile,
.buttonNewFolder {
  text-align: center;
  text-decoration: none;
  border: 1px solid darkorange;
  background-color: orange;
  border-radius: 5px;
  color: blue;
  font-family: "Bungee", Arial;
  font-size: 16px;
  text-shadow: 1px 1px 1px #ffffff;
  padding: 0px 5px;
  margin: 5px;
  width: 200px;
}

.downloadZip a,
.renameFolder a,
.createNewFile a,
.buttonNewFolder a {
  text-decoration: none;
}

.downloadZip a:visited,
.renameFolder a:visited,
.createNewFile a:visited,
.buttonNewFolder a:visited {
  color: blue;
}

.downloadZip:hover,
.renameFolder:hover,
.createNewFile:hover,
.buttonNewFolder:hover {
  color: #ffffff;
  text-shadow: 1px 1px 1px blue;
  cursor: pointer;
}

.downloadZip:hover a,
.renameFolder:hover a,
.createNewFile:hover a,
.buttonNewFolder:hover a {
  color: #ffffff;
  text-shadow: 1px 1px 1px blue;
  cursor: pointer;
}

.delete {
  text-align: center;
  margin: 5px;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid darkorange;
  background-color: orange;
  border-radius: 5px;
  color: blue;
  font-family: "Bungee", Arial;
  text-shadow: 1px 1px 1px #ffffff;
}

.delete:hover {
  color: #ffffff;
  text-shadow: 1px 1px 1px blue;
}

.uploadFiles {
  margin: 5px;
  border: 3px dashed dimgray;
  background-color: #999999;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.uploadFiles label {
  padding-bottom: 20px;
  text-align: center;
  overflow-wrap: break-word;
}

.rowInfo {
  color: aliceblue;
  font-size: 20px;
  font-family: "Bungee", Arial;
  text-shadow: 1px 1px 1px #000000;
  margin-left: 20px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 5px;
}

.row .element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90px;
  min-width: 110px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border: 1px solid darkorange;
  background-color: orange;
  border-radius: 10px;
  margin: 5px;
  position: relative;
  padding: 0px 5px;
}

.row .element .imgX {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.row .element .imgX input[type="checkbox"] {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 20px;
  width: 20px;
  margin: 5px;
  background-color: blueviolet;
}

.row .element .imgX img {
  height: 50px;
  width: 50px;
  margin: 0px 5px;
}

.row .element .imgX button {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 20px;
  width: 20px;
  background: none;
  border: none;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.row .element .imgX button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#4222c3), to(#802dfd));
  background: linear-gradient(90deg, #4222c3 0%, #802dfd 100%);
  border-radius: 5px;
}

.row .element .imgX button img {
  height: 15px;
  width: 15px;
}

#dialogrenamefolder,
#dialognewfolder,
#dialognewfile {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 24px;
  color: orange;
  text-shadow: 1px 1px 1px black;
  font-family: 'Bungee';
  position: absolute;
  top: 100px;
  left: calc((100vw - 400px)/2);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 400px;
  border: 3px solid darkorange;
  background-color: #999;
  border-radius: 20px;
  padding: 10px;
}

#dialogrenamefolder input,
#dialognewfolder input,
#dialognewfile input {
  font-family: 'Noto Sans';
  border: 1px solid darkorange;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  font-size: 28px;
  padding: 5px;
}

#dialogrenamefolder .dialogButtons,
#dialognewfolder .dialogButtons,
#dialognewfile .dialogButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5px;
}

#dialogrenamefolder .dialogButtons button[type="submit"],
#dialogrenamefolder .dialogButtons div,
#dialognewfolder .dialogButtons button[type="submit"],
#dialognewfolder .dialogButtons div,
#dialognewfile .dialogButtons button[type="submit"],
#dialognewfile .dialogButtons div {
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid darkorange;
  background-color: orange;
  border-radius: 5px;
  color: blue;
  font-family: "Bungee", Arial;
  text-shadow: 1px 1px 1px #ffffff;
  width: 80px;
}

#dialogrenamefolder .dialogButtons button[type="submit"]:hover,
#dialogrenamefolder .dialogButtons div:hover,
#dialognewfolder .dialogButtons button[type="submit"]:hover,
#dialognewfolder .dialogButtons div:hover,
#dialognewfile .dialogButtons button[type="submit"]:hover,
#dialognewfile .dialogButtons div:hover {
  color: #ffffff;
  text-shadow: 1px 1px 1px blue;
  cursor: pointer;
}

#dialogrenamefolder .dialogButtons button[type="submit"]:hover a:visited,
#dialogrenamefolder .dialogButtons div:hover a:visited,
#dialognewfolder .dialogButtons button[type="submit"]:hover a:visited,
#dialognewfolder .dialogButtons div:hover a:visited,
#dialognewfile .dialogButtons button[type="submit"]:hover a:visited,
#dialognewfile .dialogButtons div:hover a:visited {
  color: #ffffff;
}

.fileLink {
  background: none;
  border: none;
  font-family: 'Noto Sans';
  color: #ffffff;
  text-shadow: 1px 1px 1px black;
  text-decoration: none;
  font-size: 18px;
  padding: 1px 5px;
}

.fileLink:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#4222c3), to(#802dfd));
  background: linear-gradient(90deg, #4222c3 0%, #802dfd 100%);
  border-radius: 5px;
}

.filePathDiv {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px 0px 0px 10px;
}

.filePathDiv span,
.filePathDiv .filePath {
  font-family: "Noto Sans";
  font-size: 32px;
  color: #ffffff;
  text-shadow: 1px 1px 10px black;
  text-decoration: none;
  height: 43px;
}

.filePathDiv span:hover ~ .filePath,
.filePathDiv .filePath:hover ~ .filePath {
  background: none;
}

.filePathDiv:hover .filePath {
  background: -webkit-gradient(linear, left bottom, left top, from(#4222c3), to(#802dfd));
  background: linear-gradient(0deg, #4222c3 0%, #802dfd 100%);
  border-radius: 3px;
  cursor: pointer;
}

.homeIcon {
  height: 30px;
  width: auto;
  margin: 0px 5px;
}
/*# sourceMappingURL=style.css.map */